{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
