{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">WMDA Dictionary field: {{ dfield }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <tbody>
                        <tr>
                            <td>Description</td>
                            <td>{{ dfield.description_short }}</td>
                        </tr>
                        <tr>
                            <td>Description (long)</td>
                            <td>{{ dfield.description_long|safe }}</td>
                        </tr>
                        <tr>
                            <td>Field type</td>
                            <td>
                                <span data-toggle="popover"
                                      title="{{ dfield.field_type.title }}"
                                      data-content="{{ dfield.field_type.description }}">
                                          {{ dfield.field_type.title }} <i class="glyphicon glyphicon-info-sign"></i>
                                </span>
                            </td?
                        </tr>
                        {% if dfield.field_type.has_units %}
                            <tr>
                                <td>Units</td>
                                <td>{{ dfield.units }}</td>
                            </tr>
                        {% endif %}
                        {% if dfield.field_type.has_range %}
                            <tr>
                                <td>Range</td>
                                <td>{{ dfield.range }}</td>
                            </tr>
                        {% endif %}
                        {% if dfield.field_type.has_values %}
                            <tr>
                                <td>Values</td>
                                <td>{{ dfield.values|safe }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Data family owner</td>
                            <td>{{ dfield.owner_family }}</td>
                        </tr>
                        {% if dfield.user_families.all %}
                            <tr>
                                <td>Data family users</td>
                                <td>
                                    {% for family in dfield.user_families.all %}
                                        {{ family.name }}<br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if dfield.emdisfield_set.all %}
                            <tr>
                                <td>EMDIS fields</td>
                                <td>
                                    {% for efield in dfield.emdisfield_set.all %}
                                        <a href="{% url 'wmdadict:emdis_detail' efield.pk %}">{{ efield.field_code }}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if dfield.bmdwfield_set.all %}
                            <tr>
                                <td>BMDW fields</td>
                                <td>
                                    {% for bfield in dfield.bmdwfield_set.all %}
                                        <a href="{% url 'wmdadict:bmdw_detail' bfield.pk  %}">{{ bfield.field_identifier }}</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if dfield.formfields_set.all %}
                            <tr>
                                <td>Forms</td>
                                <td>{% for ffield in dfield.formfields_set.all %}
                                        <a href="{% url 'wmdadict:form_detail' ffield.wmda_form.pk %}">{{ ffield.wmda_form }} ({{ ffield.wmda_form.description }})</a><br />
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
