{% extends 'base.html' %}

{% load widget_tweaks %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">EMDIS Messages</a></li>
{% endblock %}


{% block content %}
    <h1 class="text-center"> EMDIS Messages </h1>
    <form method="get">
        <div class="panel-group">
            {% if filter_context.filter_active %}
                <div class="panel panel-warning">
                    <div class="panel-heading" data-toggle="collapse" data-target="#filter-collapse">
                        <h3 class="panel-title">Filter Active</h3>
                        <span id="filter-label" class="pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div id="filter-collapse" class="panel-body collapse in">
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading" data-toggle="collapse" data-target="#filter-collapse">
                        <h3 class="panel-title">Filter</h3>
                        <span id="filter-label" class="pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div id="filter-collapse" class="panel-body collapse">
            {% endif %}
                    <div class="form-group col-sm-4 col-md-4">
                        {{ msg_filter.form.name.label_tag }}
                        {% render_field msg_filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-4">
                        {{ msg_filter.form.description.label_tag }}
                        {% render_field msg_filter.form.description class="form-control" %}
                    </div>
                    <div class="text-right col-sm-4 col-md-4">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
              </div>
        </div>
    </form>
    {% if msg_filter %}
        <br />
        <div class="table-responsive">
            <table class="table  table-hover table-striped tablesorter">
                <thead>
                    <tr>
                        <th class="header col-sm-3"> EMDIS message <i class="icon-sort"></i></th>
                        <th class="header col-sm-6"> Description <i class="icon-sort"></i></th>
                        <th class="header col-sm-3"> Fields <i class="icon-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for emsg in msg_filter.qs %}
                        <tr>
                            <td><a href="{% url 'wmdadict:emdis_msg_detail' emsg.pk %}">{{ emsg.name }}</td>
                            <td>{{ emsg.description }} <br />
                        </td>
                            <td>
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                                <a data-toggle="collapse" href="#collapse_{{ forloop.counter }}">
                                                {{ emsg.emdisfield_set.count }} EMDIS Fields </a>
                                        </div>
                                        <div id="collapse_{{ forloop.counter }}" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                {% for efield in emsg.emdisfield_set.all %}
                                                    <li class="list-group-item">
                                                        <a href="{% url 'wmdadict:emdis_detail' efield.pk %}">{{ efield }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No EMDIS messages are available.</p>
    {% endif %}
{% endblock %}
