{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">EMDIS message: {{ emsg }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ emsg.name }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ emsg.description }}</td>
                        </tr>
                </tbody>
            </table>
            </div>
            <h4>EMDIS Fields</h4>
            {% if emsg.emdisfield_set %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th class="header col-sm-4"> Field description (WMDA dictionary field) <i class="icon-sort"></i></th>
                                <th class="header col-sm-3"> EMDIS field code <i class="icon-sort"></i></th>
                                <th class="header col-sm-2"> Required <i class="icon-sort"></i></th>
                                <th class="header col-sm-3"> Field Type <i class="icon-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in emsg.emdissemantics_set.all %}
                                <tr>
                                    <td>{{ row.emdis_field.field_description }} (<a href="{% url 'wmdadict:dictionary_detail' row.emdis_field.dict_field.pk %}">{{ row.emdis_field.dict_field }})</a></td>
                                    <td><a href="{% url 'wmdadict:emdis_detail' row.emdis_field.pk %}">{{ row.emdis_field }}</a></td>
                                    <td>
                                        {% if row.required == "R" %}
                                            <strong>{{ row.get_required_display }}</strong>
                                        {% else %}
                                            {{ row.get_required_display }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span data-toggle="popover"
                                              title="{{ row.emdis_field.emdis_type.title }} {{ row.emdis_field.field_length }}"
                                              data-content="{{ row.emdis_field.emdis_type.description }}">
                                                {{ row.emdis_field.emdis_type.letter_code }}{{ row.emdis_field.field_length }} <i class="glyphicon glyphicon-info-sign"> </i>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No EMDIS fields are available.</p>
            {% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
