{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <h1 class="text-center"> EMDIS Data Dictionary </h1>
    <form method="get">
        <div class="well well-sm">
            <h4 style="margin-top: 0">Filter</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ emdis_fields.form.field_code.label_tag }}
                    {% render_field emdis_fields.form.field_code class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ emdis_fields.form.dict_field.label_tag }}
                    {% render_field emdis_fields.form.dict_field class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ emdis_fields.form.emdis_messages.label_tag }}
                    {% render_field emdis_fields.form.emdis_messages class="form-control" %}
                </div>
                <div class="bottom-align-text col-sm-4 col-md-3">
                 <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span> Filter</button>
             </div>
            </div>
        </div>
    </form>
    {% if emdis_fields %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                    <tr>
                        <th class="header"> EMDIS field code <i class="icon-sort"></i></th>
                        <th class="header"> Field description <i class="icon-sort"></i></th>
                        <th class="header"> WMDA dictionary field <i class="icon-sort"></i></th>
                        <th class="header"> EMDIS messages <i class="icon-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for efield in emdis_fields.qs %}
                        <tr>
                            <td><a href="/emdis/field/{{ efield.pk }}/">{{ efield.field_code }}</td>
                            <td>{{ efield.field_description }}</td>
                            <td><a href="/dict/{{ efield.dict_field.pk }}/">{{ efield.dict_field }}</td>
                            <td>
                                {% for message in efield.emdis_messages.all %}
                                    <a href="/emdis/message/{{ message.pk }}/">{{ message }}</a><br />
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No EMDIS fields are available.</p>
    {% endif %}
{% endblock %}
