/* Default bootstrap uses larger blockquote, we want same as normal text */
blockquote {
    font-size: 14px;
    lne-height: 1.42857143;
}


/* Fix chevron display for collapsable heading */
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
